@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body{
    padding: 0;
    margin: 0;
    font-family: "roboto","sans-serif";
    background-color: #f2f4fc;
}



/* Generales: */
a{
    color: #6b708d;
    text-decoration: none;
}

h1{
    color: #292e47;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    line-height: 45px;
}

/* nav: */
.nav-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.listnav-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logoCircle-svg{
    width: 60px;
}

.text-nav{
    font-size: 12px;
    list-style-type: none;
    font-family: sans-serif;
}

.button-contactUs{
    background-color: #072ac8;
    color: white;
    font-size: 12px;
    border-color: #072ac8;
    margin-left: 10px;
}

/* hero-section: */
.hero-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonHero-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text{
    color: #6b708d;
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    margin-top: 30px;
    line-height: 24px;
    font-size: 17px;  
}

.button-getInTouch{
    background-color: #072ac8;
    color: white;
    font-size: 17px;
    border-color: #072ac8;
    padding: 14px;
}

.button-seeOurWork{
    background: transparent;
    font-family: sans-serif;
    outline: none;
    color: #6b708d;
    border: none;
    font-size: 17px;
    padding: 14px;
}

.hero-image{
    margin-top: 10px;
    width: 315px;
}

.card-1Hero{
    display: none;
}

.card-2Hero{
    display: none;
}

/* responsive: */
@media (min-width: 1300px){

    .container {
        max-width: 85%;
        margin: 0 auto;
    }

    .nav-flex{
        justify-content: space-around;
        margin-top: 30px;
    }

    .listnav-flex{
        gap: 40px;
    }

    .text-nav{
        font-size: 14px;
    }

    .button-contactUs{
        font-size: 14px;
        padding: 10px;
    }

    .logoCircle-svg{
        width: 60px;
    }

    /*responsive: */

    .hero-flex{
        flex-direction: row;
        align-items:center
    }

    .hero-image{
        width: 560px;
        height: 625px;
        position: relative;
    }

    h1{
        font-size: 60px;
        line-height: 80px;
        text-align: left;
        margin-top: 0px;
        margin: 0px;
        margin-bottom: 30px;
    }

    .hero-section{
        margin-top: 100px;
    }

    .header-text{
        text-align: left;
        line-height: 40px;
        font-size: 20px;  
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-right: 200px;
    }

    .buttonHero-flex{
        flex-direction: row;
        gap: 40px;
    }

   .hero-relAb{
    display: flex;
   }

    .card-1Hero{
        width: 294px;
        height: 314px;
        left: 40em;
        top: 12em;
        right: auto;
        bottom: auto;
        position: absolute;
        display: block;
        max-width: 100%;
    }
      
    
    .card-2Hero{
        width: 294px;
        height: 314px;
        bottom:1em;
        right: 1em;
        position: absolute;
        display: block;
    }
    

}